*{margin: 0; padding: 0;}
a,u{text-decoration: none;}
li{list-style: none;}
.container{
    width: 100%;
    padding: 0;
}
.hander a:hover{
	color: #e77b34;
}
.hander{
    width: 1030px;
    height:34px ;
    background-color: #F2F2F2;
    padding: 0 100px;
    font-size: 12px;
    color: rgb(138, 137, 137);
    line-height: 34px;
    margin: 0 auto;

}
.left{
    width: 400px;
    float: left;
}
.left a{
    color: #999;
    margin-left: 30px;
}
.left .active {
    display: none;
  }

ul, ol, li {
    list-style: none;
  }
.right{
    float: right;
    width: 500px;
}
.right a{
    color: #999;
    text-decoration: none;
    display: block;

}
.right ol{
    display: flex;
    /* height: 34px; */
    justify-content: space-evenly;
    align-items: center;
}
.right li{
    line-height: 34px;
    position: relative;
    z-index: 999;
}

.right ol li ol{
    display: none;
    /* padding-top: 60px; */
    width: 50px;
    position: absolute;
    top: 34px;
    /* left: 30px; */
    color: rgb(68, 67, 67);
    text-align: center;
    background-color: rgb(255, 255, 255);

}
.right ol li ol > li{
  border-top: 1px solid rgb(250, 72, 49);
 
}
.right > .ol1 > li.active {
    /* background-color: rgb(164, 240, 227); */
    border-bottom: 1px solid #FF0036;
  }

/* search */
.search{
    width: 1230px;
    height: 130px;
    margin: 0 auto;
}
.search img{
    margin-left: 60px;
    float: left;
    width: 290px;
}
.box{
    width: 499px;
    height: 40px;
    border: 1px solid #FF0036;
    float: right;
    margin-right: 300px;
    /* margin: 0 auto; */
    margin-top: 40px;
    position: relative;
    z-index: 100;
}

.box input{
    width: 355px;
    height: 38px;
    float: left;
    border: none;
    outline: none;
    display: block;
    padding-left: 10px;


}
.box button{
    width: 130px;
    height: 40px;
    background-color:  #FF0036;
    float: right;
    outline: none;
    border: none;
    color: #fff;
    float: right;
    

}

.search .box ul {
    width: 369px;
    border: 1px solid rgb(199, 196, 196);
    box-sizing: border-box;
    border-top: none;
    display: none;
    margin-top: 41px;
    background-color: #fff;


  }

  .search .box ul > li {
    height: 30px;
    line-height: 29px;
    list-style: none;
    font-size: 12px;
    cursor: pointer;
    padding: 0 10px;
    color: rgb(77, 76, 76);

  }

  .search ul > li:hover {
    background-color: #FF0036;
    color: #fff;
  }


/* 菜单 */
.carte{
    width: 1230px;
    height: 36px;
    margin: 0 auto;
    line-height: 36px;
    font-size: 14px;
    color: #000;
    text-align: center;

}
.carte ul{
    display: flex;
    
}
.carte img{
    margin: 3px 8px 0;

}
.carte .first{
    width: 200px;
    height: 36px;
    background-color: #FF0036;
    margin-left: 100px;
    color: #fff;
}
.carte li a{
    padding-left: 20px;
    color: rgb(32, 31, 31);
}
.carte ul>li :hover{
    color: #FF0036;
}

.banner{
    width: 1230px;
    height: 500px;
    margin: 0 auto;
    background-color: silver;
    position: relative;
    overflow: hidden;
}
.banner > .imgBox{
    width: 500%;
    height: 100%;
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
}
.banner > .imgBox > li{
    flex: 1;
}
.banner > .imgBox > li > img{
    width: 1230px;
    height: 500px;
}

.banner > .pointBox{
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.banner > .pointBox > li{
    width: 28px;
    height: 4px;
    background-color: rgba(64, 64, 66, 0.5);
    border-radius: 3px;
    cursor: pointer;
    margin-left: 5px;
}
.banner > .pointBox > li.active {
    background-color: rgba(255, 255, 255, 0.9);
}
.banner > .leftRight {
    width: 100%;
    height: 60px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
}

.banner > .leftRight > div {
    width: 40px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .5);
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}

/* 侧栏 */

.banner .menu{
    width: 200px;
    height: 500px;
    background-color: #333;
    opacity: 0.9;
    margin-left: 100px;
    
  }
  .menu .yi-ji li{
    width: 200px;
    font-size: 14px;
    color: #fff;
    /* padding-left: 30px; */
    line-height: 42px;
  
  }

  .menu .yi-ji li:hover{
    background-color: #FFF;
  }
  .menu .yi-ji li span{
    float: right;
    margin-right: 10px;
  }
  .menu .yi-ji li a{
    font-size: 13px;
    color: #fff;
    padding-left: 30px;
  }
  .menu .yi-ji li:hover a{
    color: #FF0036;
  }

/* main */
.container .main{
    width: 100%;
    height: 1040px;
    background-color: #F8F8F8;
}


/* 选项卡 */
.main_1{
    width: 1230px;
    height: 120px;
    margin: 0 auto;

}
.main_1 .main_img img{
    width: 1030px;
    height: 80px;
    margin: 20px 100px;
}
/* 选项卡 1 */
.box1 {
    width: 1030px;
    height: 350px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .box1 > ul {
    height: 40px;
    display: flex;
    width: 240px;
    /* border: 1px solid #999; */
    border-bottom: 0;
    float: right;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 14px;
    
  }
  

  .box1 > ul > li {
    /* flex: 1; */
    width: 120px;
    height: 37px;
    /* background-color: rgb(180, 206, 233); */
    color: rgb(8, 8, 8);
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

  }

  .box1 > ul > li.active {
    /* background-color: rgb(164, 240, 227); */
    border-bottom: 3px solid #FF0036;
  }

  .box1 > ol {
    flex: 1;
    position: relative;
    margin-top: 40px;
  }

  .box1 > ol > li {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-size: 100px;
    color: #fff;
    display: none;
  }

  .box1 > ol > li.active {
    display: block;
  }

  /* tab_1 */
  /* 1030  360 */
  .tab_1{
      width: 1100px;
      margin-left: -30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

  }
  .tab_1 .list{
    width: 236px;
    height: 300px;
    background-color: #fff;
    font-size: 14px;
    color: #000;

  }
  .tab_1 .list img{
      width: 160px;
      height: 175px;
      margin: 10px 38px;
  }
 
  .tab_1 .list p{
    text-align: center;
    
    margin: 10px 30px;
}
.tab_1 .list div{
    color: #FF0036;
    text-align: center;
}

/* footer */
footer{
    width: 100%;
    height: 240px;
    background-color: black;
    margin: 0 auto;
    position: relative;
  border-top: 2px solid #FF0036;

}
footer .foot{
    width: 1030px;
    height: 240px;
    margin: 0 auto;
    position: relative;

}
footer img{
    position: absolute;
    left: 100px;
    top: -50px;
}
.foot ul{
    display: flex;
    padding: 20px 10px;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
    font-size: 14px;
  
}
.foot p{
    padding: 5px 40px;
    font-size: 14px;
    color: #626262;
}