<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="../css/index.css">

</head>
<body>
    <!-- 首页 -->
    <div class="container">
        <!-- 头部 -->
        <div class="hander">
            <div class="left">
                <u>喵，欢迎来天猫</u>
                <a class="off" href="../views/login.html">您好，请登录</a>
                <a class="on active">欢迎您: </a>
            </div>
            <div class="right">
                <ol class="ol1">
                    <li class="ol2 active"><a>我的淘宝</a>
                        <ol class="">
                            <li>历史足迹</li>
                            <li>我的地址</li>
                            <!-- <li>二级3</li> -->
                        </ol>
                    </li>
                    <li><a>购物车</a></li>
                    <li><a>收藏夹</a></li>
                    <li><a>手机版</a></li>
                    <li><a>淘宝网</a></li>
                    <li class="ol2"><a>商家支持</a>
                        <ol>
                            <li>商家服务</li>
                            <li>联系我们</li>
                        </ol>
                    </li>
                </ol>
            </div>
        </div>
        <!-- search 搜索部分 -->
        <div class="search">
            <img src="../images/index/dt2.gif" alt="">
            <div class="box">
                <div class="a">
                    <input type="text" placeholder="  搜索 天猫 商品 / 品牌 / 店铺">
                    <button>搜 索</button>
                </div>
                <ul></ul>
            </div>
        </div>

        <!-- 菜单 -->
        <div class="carte">
            <ul>
                <li class="first">商品分类</li>
                <li>
                    <a href="https://chaoshi.tmall.com/?acm=lb-zebra-148799-667861.1003.4.2429983&scm=1003.4.lb-zebra-148799-667861.OTHER_14561837688591_2429983">
                        <img src="../images/index/tmcs1.png" style="width: 100px;" alt="">
                    </a>
                </li>
                <li>
                   <a href="https://www.tmall.hk/?spm=875.7931836/B.2016004.2.5e584265LLEHtj&acm=lb-zebra-148799-667861.1003.4.2429983&scm=1003.4.lb-zebra-148799-667861.OTHER_14561833841102_2429983">
                        <img src="../images/index/tmgj2.png" style="width: 100px;" alt="">
                    </a>
                </li>
                <li><a href="https://vip.tmall.com/vip/index.htm?acm=lb-zebra-148799-667861.1003.4.2429983&scm=1003.4.lb-zebra-148799-667861.OTHER_14561845383563_2429983">天猫会员</a></li>
                <li><a href="https://list.tmall.com/search_product.htm?spm=875.7931836/B.2016004.4.52a54265FdQmsk&q=%CA%FD%C2%EB&acm=lb-zebra-148799-667861.1003.4.2429983&type=p&scm=1003.4.lb-zebra-148799-667861.OTHER_14561822298635_2429983">电器城</a></li>
                <li><a href="https://list.tmall.com/search_product.htm?spm=875.7931836/B.2016004.5.52a54265FdQmsk&q=%DF%F7%CF%CA%C9%FA&acm=lb-zebra-148799-667861.1003.4.2429983&scm=1003.4.lb-zebra-148799-667861.OTHER_14561818451146_2429983">喵鲜生</a></li>
                <li><a href="https://yao.tmall.com/?spm=875.7931836/B.2016004.6.52a54265FdQmsk&acm=lb-zebra-148799-667861.1003.4.2429983&scm=1003.4.lb-zebra-148799-667861.OTHER_14561829993617_2429983">医药馆</a></li>
                <li><a href="">魅力惠</a></li>
                <li><a href="">飞猪旅行</a></li>
                <li><a href="">苏宁易购</a></li>
            </ul>
        </div>
        <!-- banner -->
        <div class="banner">
            <ul class="imgBox">
                <li><img src="../images/index/bn10.webp" alt=""></li>
                <li><img src="../images/index/bn9.webp" alt=""></li>
                <li><img src="../images/index/i-1.jpg" alt=""></li>
                <li><img src="../images/index/bn6.webp" alt=""></li>
                <li><img src="../images/index/bn7.jpg" alt=""></li>
                <li><img src="../images/index/bn8.jpg" alt=""></li>
                <li><img src="../images/index/bn3.jpg" alt=""></li>
            </ul>
            <ol class="pointBox"></ol>
            <!-- 左右切换的按钮 -->
            <div class="leftRight">
                <div class="left"><</div>
                <div class="right">></div>
            </div>

            <!-- 侧栏 -->
            <div class="menu">
                <ul class="yi-ji">
                    <li><a href="../views/list.html">手机 电话卡</a><span>></span></li>
                    <li><a href="#">电视 盒子</a><span>></span></li>
                    <li><a href="#">笔记本 显示器</a><span>></span></li>
                    <li><a href="#">家电 插线板</a><span>></span></li>
                    <li><a href="#">出行 穿戴</a><span>></span></li>
                    <li><a href="#">智能 路由器</a><span>></span></li>
                    <li><a href="#">电源 配件</a><span>></span></li>
                    <li><a href="#">健康 儿童</a><span>></span></li>
                    <li><a href="#">耳机 音响</a><span>></span></li>
                    <li><a href="#">生活 箱包</a><span>></span></li>
                    <li><a href="#">家居 建材</a><span>></span></li>
                    <li><a href="#">汽车 用品</a><span>></span></li>
                    </ul>
                </div>
        </div>
        <!-- 选项卡 -->
        <div class="main">
            <div class="main_1">
                <div class="main_img">
                    <img src="../images/index/xx1.jpg" alt="">
                </div>
    
                <div class="box1">
                    <!-- 按钮 -->
                    <ul class="btn">
                        <!-- <span>服装</span> -->
                      <li class="active">名店潮搭</li>
                      <li>户外出行</li>
                    </ul>
                    <!-- 盒子 -->
                    <ol class="tab">
                      <li class="active">
                        <ul class="tab_1">
                            <li class="list">
                                <img src="../images/index/li1.jpg" alt="">
                                <p>superdry男士刺绣logo灰色休闲服装</p>
                                <div>￥293</div>
                            </li>
                            <li class="list">
                                <img src="../images/index/li1.jpg" alt="">
                                <p>superdry男士刺绣logo灰色休闲服装</p>
                                <div>￥293</div>
                            </li>
                            <li class="list">
                                <img src="../images/index/li1.jpg" alt="">
                                <p>superdry男士刺绣logo灰色休闲服装</p>
                                <div>￥293</div>
                            </li>
                            <li class="list">
                                <img src="../images/index/li1.jpg" alt="">
                                <p>superdry男士刺绣logo灰色休闲服装</p>
                                <div>￥293</div>
                            </li>
                        </ul>
                     </li>
                      <li>
                        <ul class="tab_1">
                            <li class="list">
                                <img src="../images/index/li2.jpg" alt="">
                                <p>啄木鸟包包2020新款潮流女士休闲时尚女包</p>
                                <div>￥299</div>
                            </li>
                            <li class="list">
                                <img src="../images/index/li2.jpg" alt="">
                                <p>啄木鸟包包2020新款潮流女士休闲时尚女包</p>
                                <div>￥299</div>
                            </li>
                            <li class="list">
                                <img src="../images/index/li2.jpg" alt="">
                                <p>啄木鸟包包2020新款潮流女士休闲时尚女包</p>
                                <div>￥299</div>
                            </li>
                            <li class="list">
                                <img src="../images/index/li2.jpg" alt="">
                                <p>啄木鸟包包2020新款潮流女士休闲时尚女包</p>
                                <div>￥299</div>
                            </li>
                        </ul>
                          
                     </li>
                    </ol>
                </div>

                <div class="main_img">
                    <img src="../images/index/xx2.jpg" alt="">
                </div>
                <div class="box1">
                    <!-- 按钮 -->
                    <ul class="btns">
                        <!-- <span>服装</span> -->
                      <li class="active">休闲零食</li>
                      <li>大牌潮玩</li>
                    </ul>
                    <!-- 盒子 -->
                    <ol class="tabs">
                      <li class="active">
                        <ul class="tab_1">
                            <li class="list">
                                <img src="../images/index/li4.gif" alt="">
                                <p>百草味咸蛋黄酥饼干60g*10袋蛋卷传统糕点</p>
                                <div>￥18.9 ~ 69.9</div>
                            </li>
                            <li class="list">
                                <img src="../images/index/li4.gif" alt="">
                                <p>百草味咸蛋黄酥饼干60g*10袋蛋卷传统糕点</p>
                                <div>￥18.9 ~ 69.9</div>
                            </li>
                            <li class="list">
                                <img src="../images/index/li4.gif" alt="">
                                <p>百草味咸蛋黄酥饼干60g*10袋蛋卷传统糕点</p>
                                <div>￥18.9 ~ 69.9</div>
                            </li>
                            <li class="list">
                                <img src="../images/index/li4.gif" alt="">
                                <p>百草味咸蛋黄酥饼干60g*10袋蛋卷传统糕点</p>
                                <div>￥18.9 ~ 69.9</div>
                            </li>
                        </ul>
                     </li>
                      <li>
                        <ul class="tab_1">
                            <li class="list">
                                <img src="../images/index/li3.jpg" alt="">
                                <p>Lenovo联想真无线蓝牙耳机</p>
                                <div>￥99</div>
                            </li>
                            <li class="list">
                                <img src="../images/index/li3.jpg" alt="">
                                <p>Lenovo联想真无线蓝牙耳机</p>
                                <div>￥99</div>
                            </li>
                            <li class="list">
                                <img src="../images/index/li3.jpg" alt="">
                                <p>Lenovo联想真无线蓝牙耳机</p>
                                <div>￥99</div>
                            </li>
                            <li class="list">
                                <img src="../images/index/li3.jpg" alt="">
                                <p>Lenovo联想真无线蓝牙耳机</p>
                                <div>￥99</div>
                            </li>
                        </ul>
                          
                     </li>
                    </ol>
                </div>
            </div>

        </div>
        <!-- footer -->
        <footer>
            <img src="../images/index/mao.png" alt="">
            <div class="foot">
                <ul>
                    <li>关于天猫</li>
                    <li>帮助中心</li>
                    <li>开放平台</li>
                    <li>诚聘英才</li>
                    <li>联系我们</li>
                    <li>网站合作</li>
                    <li>法律声明</li>
                    <li>隐私权政策</li>
                    <li>知识产权</li>
                    <li>廉政举报</li>
                    <li>规则意见征集</li>
                </ul>
                <p>增值电信业务经营许可证： 浙B2-20110446 市场名称登记证：工商网市字3301004119号</p> 
                <p> 出版物网络交易平台服务经营备案证： 新出发浙备字第2019002号</p>
                <p>医疗器械网络交易服务第三方平台备案：（浙）网械平台备字[2018]第00002号</p>
                <p>浙江省网络食品销售第三方平台提供者备案：浙网食A33010002 12318举报</p>
            </div>

        </footer>
    </div>




    <script src="../assets/jquery/jquery.min.js"></script>
    <script src="../js/public.js"></script>
    <script src="../js/index.js"></script>
    <script src="../js/utils.js"></script>
    <script src=""></script>
    

</body>
</html>