<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../assets/pagination/pagination.css">
  <link rel="stylesheet" href="../css/public.css">
  <link rel="stylesheet" href="../css/list.css">
</head>
<body>
     <!-- 头部 -->
     <div class="hander">
        <div class="left">
            <u>喵 ^o^，欢迎来天猫</u>
        </div>
        <div class="right">
            <ol class="ol1">
                <li class="ol2 active"><a>我的淘宝</a>
                    <ol class="">
                        <li>二级1</li>
                        <li>二级2</li>
                        <!-- <li>二级3</li> -->
                    </ol>
                </li>
                <li><a>购物车</a></li>
                <li><a>收藏夹</a></li>
                <li><a>手机版</a></li>
                <li><a>淘宝网</a></li>
                <li class="ol2"><a>商家支持</a>
                    <ol>
                        <li>二级1</li>
                        <li>二级2</li>
                    </ol>
                </li>
            </ol>
        </div>
    </div>
    <!-- 搜索 -->
    <div class="search">
        <img src="../images/login/l-logo.png" alt="">
        <div class="box">
            <div class="a">
                <input type="text" placeholder="  搜索 天猫 商品 / 品牌 / 店铺">
                <button>搜 索</button>
            </div>
            <ul></ul>
        </div>
    </div>


  <div class="info filterinfo container">
    <div class="panel panel-success">
      <div class="panel-heading">筛选信息</div>
      <div class="panel-body">
        <ul>
          <li class="cat_one">
            <div class="left">一级分类</div>
            <div class="right">
              <span class="active">大家电</span>
              <span>nihao</span>
              <span>nihao</span>
              <span>nihao</span>
              <span>nihao</span>
            </div>
          </li>
          <li class="cat_two">
            <div class="left">二级分类</div>
            <div class="right">
              <span class="active">全部</span>
             
            </div>
          </li>
          <li class="cat_three">
            <div class="left">三级分类</div>
            <div class="right">
              <span class="active">全部</span>
              
            </div>
          </li>
          <li class="sort_list">
            <div class="left">排序方式</div>
            <div class="right">
              <span data-sort="id" class="active">综合</span>
              <span data-sort="price">价格</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

 

  <div class="goodsList container">
    <ul class="">
      <!-- js渲染内容 -->
    </ul>
  </div>

  <div class="info pagiInfo container">
    <div class="panel panel-warning">
      <!-- <div class="panel-heading">分页信息</div> -->
      <div class="panel-body pagination">

      </div>
    </div>
  </div>
  <!-- <div class="footer container"> -->
    <footer>
        <img src="../images/index/mao.png" alt="">
        <div class="foot">
            <ul>
                <li>关于天猫</li>
                <li>帮助中心</li>
                <li>开放平台</li>
                <li>诚聘英才</li>
                <li>联系我们</li>
                <li>网站合作</li>
                <li>法律声明</li>
                <li>隐私权政策</li>
                <li>知识产权</li>
                <li>廉政举报</li>
                <li>规则意见征集</li>
            </ul>
            <p>增值电信业务经营许可证： 浙B2-20110446 市场名称登记证：工商网市字3301004119号</p> 
            <p> 出版物网络交易平台服务经营备案证： 新出发浙备字第2019002号</p>
            <p>医疗器械网络交易服务第三方平台备案：（浙）网械平台备字[2018]第00002号</p>
            <p>浙江省网络食品销售第三方平台提供者备案：浙网食A33010002 12318举报</p>
        </div>

    </footer>
  <!-- </div> -->

  <script src="../assets/jquery/jquery.min.js"></script>
  <script src="../assets/pagination/pagination.js"></script>
  <script src="../js/public.js"></script>
  <script src="../js/list.js"></script>
</body>
</html>
