<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="../css/public.css"> -->
    <link rel="stylesheet" href="../css/login.css">

</head>
<body>
    
    <!-- 登录页 -->
   
    <div class="content">
        <div class="header">
            <img src="../images/login/l-logo.png" alt="">
        </div>
        <div class="banner">
            <img src="../images/login/bg1.jpg" alt="">
        </div>

        <div class="info_content">
              <div class="info_header">用户登录</div>
                <form class="col-sm-12">
                  <div class="form-group">
                    <label for="username">用户名: </label>
                    <input type="text" class="form-control" autocomplete="off" id="username" placeholder="请填写用户名">
                  </div>
                  <div class="form-group">
                    <label for="password">密 码: </label>
                    <input type="text" class="form-control" autocomplete="off" id="password" placeholder="请填写密码">
                  </div>
                  <button type="button" class="login btn btn-success col-sm-5">登录</button>
                  <button type="button" class="register pull-right btn btn-warning col-sm-5">注册</button>
                </form>
          </div>
    </div>
   
    <script src="../assets/jquery/jquery.min.js"></script>
    <script src="../js/login.js"></script>
    <script src="../js/public.js"></script>
</body>
</html>